#!/usr/bin/make -f

# DH_VERBOSE=1

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

PYVERS=$(shell pyversions -vr)

stamp-build: $(PYVERS:%=stamp-build-python%)
	touch $@

build: stamp-build

stamp-build-python%: build-python%
	touch $@

build-python%: TMPDEST=debian/python-polybori$*
build-python%: PYTHON=/usr/bin/python$*
build-python%: PYTHONSITE=`/usr/bin/python$* -c 'import setuptools; print setuptools.distutils.sysconfig.get_python_lib() '`

build-python%:
	scons prepare-install PYTHON=$(PYTHON)
	mkdir -p $(TMPDEST)
	scons install devel-install INSTALLDIR=$(TMPDEST)/usr/lib/polybori \
		PYINSTALLPREFIX=$(TMPDEST)$(PYTHONSITE) MANDIR=$(TMPDEST)/usr/share/man \
		PREFIX=$(TMPDEST)/usr EPREFIX=$(TMPDEST)/usr/bin \
		DOCDIR=$(TMPDEST)/usr/share/doc/polybori PYTHON=$(PYTHON) \
		RELATIVEPYPREFIX=/usr/lib/python$(lastword $(PYVERS))/site-packages

install-python%: stamp-build-python%

$(patsubst %,binary-install/%,$(DEB_PACKAGES)) :: binary-install/%:
	dh_pycentral -p$(cdbs_curpkg)

common-install-arch common-install-indep:: common-install-impl

common-install-impl:: $(PYVERS:%=common-install-impl%)
	echo $@

common-install-impl%: stamp-build-python%
	-mkdir -p debian/tmp/
	cp -a debian/python-polybori$(lastword $(PYVERS))/* debian/tmp/
	-mkdir -p debian/tmp/usr/lib

clean::
	$(MAKE) -C doc clean
	rm -rf $(PYVERS:%=debian/python-polybori%)
	scons . --keep-going --clean || true
	dh_clean
	rm -f debian/stamp-scons-build
	rm -f stamp-*
	rm -rf .sconf_temp/
	rm -f .sconsign.dblite
	rm -f build-python*
	rm -rf build

binary: stamp-build

.PHONY: $(PYVERS:%=build-python-%) build
